@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-neutral-black-2: #f8fafb;
  --color-neutral-black-3: #f6f8fa;
  --color-neutral-black-4: #eceff3;
  --color-neutral-black-5: #dfe1e7;
  --color-neutral-black-6: #c1c7d0;
  --color-neutral-black-7: #a4acb9;
  --color-neutral-black-8: #818898;
  --color-neutral-black-9: #666d80;
  --color-neutral-black-10: #36394a;
  --color-neutral-black-11: #272835;
  --color-neutral-black-12: #1a1b25;
  --color-neutral-black-13: #0d0d12;
  --color-paragraph: #6f6f6f;
  --color-background: #1b1b1b;

  --color-primary-50: #e8f2ff;
  --color-primary-100: #d0e4fc;
  --color-primary-200: #a2c9fa;
  --color-primary-300: #73aef7;
  --color-primary-400: #4593f5;
  --color-primary-500: #1678f2;

  --color-secondary-50: #fff3e5;
  --color-secondary-100: #ffe8cc;
  --color-secondary-200: #ffd199;
  --color-secondary-300: #ffba66;
  --color-secondary-400: #ffa333;
  --color-secondary-500: #ff8c00;

  --color-success-50: #effefa;
  --color-success-100: #ddf3ef;
  --color-success-200: #9ee1d4;
  --color-success-300: #40c4aa;
  --color-success-400: #28806f;
  --color-success-500: #184e44;

  --color-error-500: #fff0f3;
  --color-error-50: #fadbe1;
  --color-error-50: #ed8296;
  --color-error-100: #df1c41;
  --color-error-50: #96132c;
  --color-error-50: #710e21;

  --color-warning-50: #fff6e0;
  --color-warning-100: #faedcc;
  --color-warning-200: #fcda83;
  --color-warning-300: #ffbe4c;
  --color-warning-400: #966422;
  --color-warning-500: #5c3d1f;

  --color-info-50: #f0fbff;
  --color-info-100: #d1f0fa;
  --color-info-200: #7eddf1;
  --color-info-300: #33cfff;
  --color-info-400: #116b97;
  --color-info-500: #0c4e6e;
  --color-info-50: #e8f4ff;
  --color-info-100: #b8ddff;
  --color-info-200: #95ccff;
  --color-info-300: #65b5ff;
  --color-info-400: #47a6ff;
  --color-info-500: #1990ff;

  --color-neutral-black-2: #f8fafb;
  --color-neutral-black-3: #f6f8fa;
  --color-neutral-black-4: #eceff3;
  --color-neutral-black-5: #dfe1e7;
  --color-neutral-black-6: #c1c7d0;
  --color-neutral-black-7: #a4acb9;
  --color-neutral-black-8: #818898;
  --color-neutral-black-9: #666d80;
  --color-neutral-black-10: #36394a;
  --color-neutral-black-11: #272835;
  --color-neutral-black-12: #1a1b25;
  --color-neutral-black-13: #0d0d12;

  --color-primary-50: #e8f2ff;
  --color-primary-100: #d0e4fc;
  --color-primary-200: #a2c9fa;
  --color-primary-300: #1678f2;
  --color-primary-400: #4593f5;
  --color-primary-500: #1678f2;

  --color-secondary-50: #fff3e5;
  --color-secondary-100: #ffe8cc;
  --color-secondary-200: #ffd199;
  --color-secondary-300: #ffba66;
  --color-secondary-400: #ffa333;
  --color-secondary-500: #ff8c00;

  --color-success-50: #effefa;
  --color-success-100: #ddf3ef;
  --color-success-200: #9ee1d4;
  --color-success-300: #40c4aa;
  --color-success-400: #28806f;
  --color-success-500: #184e44;

  --color-error-50: #fff0f3;
  --color-error-50: #fadbe1;
  --color-error-50: #ed8296;
  --color-error-50: #df1c41;
  --color-error-50: #96132c;
  --color-error-50: #710e21;

  --color-warning-50: #fff6e0;
  --color-warning-100: #faedcc;
  --color-warning-200: #fcda83;
  --color-warning-300: #ffbe4c;
  --color-warning-400: #966422;
  --color-warning-500: #5c3d1f;

  --color-info-50: #f0fbff;
  --color-info-100: #d1f0fa;
  --color-info-200: #7eddf1;
  --color-info-300: #33cfff;
  --color-info-400: #116b97;
  --color-info-500: #0c4e6e;
}
@theme {
  --font-manrope: "Manrope", sans-serif;
}
@layer base {
  body {
    @apply font-manrope;
  }
}
@layer components {
  .heading-1 {
    @apply font-semibold text-2xl;
  }
  .heading-2 {
    @apply font-semibold text-[40px];
  }
  .heading-3 {
    @apply font-semibold text-[32px];
  }
  .heading-4 {
    @apply font-semibold text-[24px];
  }
  .heading-5 {
    @apply font-semibold text-xl;
  }
  .heading-6 {
    @apply font-semibold text-[18px];
  }
  .body-large-semibold {
    @apply font-semibold text-lg;
  }
  .body-large-medium {
    @apply font-medium text-lg;
  }
  .body-large-regular {
    @apply font-normal text-lg;
  }
  .body-medium-semibold {
    @apply font-semibold text-[16px];
  }
  .body-medium-medium {
    @apply font-medium text-[16px];
  }
  .body-medium-regular {
    @apply font-normal text-[16px];
  }
  .body-small-semibold {
    @apply font-semibold text-[14px];
  }
  .body-small-medium {
    @apply font-medium text-[14px];
  }
  .body-small-regular {
    @apply font-normal text-[14px];
  }
  .body-xsmall-semibold {
    @apply font-semibold text-[12px];
  }
  .body-xsmall-medium {
    @apply font-medium text-[12px];
  }
  .body-xsmall-regular {
    @apply font-normal text-[12px];
  }
  react-datepicker__input-container input {
    @apply block w-full text-base md:text-sm bg-white border border-gray-300 rounded shadow-sm;
  }

  .react-datepicker__triangle {
    @apply hidden;
  }
  .react-datepicker-wrapper {
    @apply w-full max-w-fit;
  }
  .react-datepicker-popper {
    @apply z-40 text-sm bg-white shadow px-3 py-2 border-2 border-gray-200 rounded;
  }

  .react-datepicker-left {
    @apply absolute left-0 right-auto top-11 transform-none hidden;
  }

  .react-datepicker-right {
    @apply absolute right-0 left-auto top-11 transform-none;
  }

  .react-datepicker__portal {
    @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded;
  }

  .react-datepicker__month-container {
    @apply flex flex-col;
  }

  .react-datepicker__month {
    @apply flex flex-col;
  }

  .react-datepicker__aria-live {
    @apply hidden;
  }
  .react-datepicker__current-month {
    @apply ml-2.5 text-lg font-semibold text-gray-800 place-self-center;
  }

  .react-datepicker__week {
    @apply flex justify-around;
  }

  .react-datepicker__day-names {
    @apply flex justify-around text-gray-400 font-medium text-center text-xs;
  }

  .react-datepicker__day-name {
    @apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
  }

  .react-datepicker__navigation {
    @apply absolute top-2 text-transparent cursor-pointer;
  }

  .react-datepicker__navigation--previous {
    @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200 left-4;
  }

  .react-datepicker__navigation--next {
    @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
  }

  .react-datepicker__day {
    @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded cursor-pointer;
  }

  .react-datepicker__day--disabled {
    @apply cursor-not-allowed opacity-40 hover:bg-transparent;
  }

  .react-datepicker__day--outside-month {
    @apply text-gray-300;
  }

  .react-datepicker__day--in-range {
    @apply bg-gray-200;
  }

  .react-datepicker__day--in-selecting-range {
    @apply bg-blue-200;
  }

  .react-datepicker__day--selecting-range-start {
    @apply bg-white border-2 border-blue-500;
  }

  .react-datepicker__day--selecting-range-end {
    @apply bg-white border-2 border-blue-500;
  }

  .react-datepicker__day--selected {
    @apply bg-blue-500 text-white;
  }

  .react-datepicker__day--range-start {
    @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white;
  }

  .react-datepicker__day--range-end {
    @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white;
  }
}
